.CodeMirror {
    border: 1px solid #eee;
    height: 100%;
}

.CodeMirror-fullscreen{
    z-index:99999999;
    padding-top: 80px;
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.mg-top-10 {
    margin-top: 10px;
}

.mg-left-5 {
    margin-left: 5px;
}

