<div class="container-fluid" ng-controller="LoginController">
    <div class="row">
        <form name="loginForm" ng-submit="login()" class="col-md-12">

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input it-input
                               it-label="{{'USER_LOGIN' | translate}}"
                               required=""
                               name="user"
                               class="form-control floating-label mg-top-10"
                               type="text"
                               ng-model="account.user"
                               autofocus>
                    </div>
                    <div class="form-group">
                        <input it-input required="" name="password" class="form-control floating-label" type="password"
                               it-label="{{'USER_PASSWORD' | translate}}" ng-model="account.password">
                    </div>
                </div>
                <div class="col-md-4">
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 text-center">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-sign-in fa-lg"></span>
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="form-errors" style="color: red;">
                        <div ng-show="loginFailed == true" class="form-error" ng-message="required">{{'BAD_CREDENTIALS'
                            | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </form>
    </div>
</div>